<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Capstone</title>

    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <script src="https://unpkg.com/popper"></script> -->
    <!-- <script src="https://unpkg.com/bootstrap"></script> -->

    <link href="http://fonts.cdnfonts.com/css/phenomena" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="shortcut icon" href="/static/images/favicon.png" />

    <!-- <script src="https://code.highcharts.com/highcharts.src.js"></script> -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="../static/scripts/site.js"></script>
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% if g.user %}
    <nav class="navbar">
      <a href="/"> <img src="/static/images/favicon.png" /> </a>
      <!-- <a></a> -->
    </nav>
    {% endif %}

    <main id="content">{% block content %} {% endblock %}</main>
  </body>
</html>
