<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Capstone</title>

    <!-- <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"> -->
    <script src="https://unpkg.com/jquery"></script>
    <!-- <script src="https://unpkg.com/popper"></script> -->
    <!-- <script src="https://unpkg.com/bootstrap"></script> -->

    <link href="http://fonts.cdnfonts.com/css/phenomena" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% block content %} {% endblock %}
  </body>
</html>
