<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WSB</title>

    <link href="http://fonts.cdnfonts.com/css/phenomena" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="shortcut icon" href="/static/images/faviconInvert.png" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <!-- <script src="https://unpkg.com/jquery"></script> -->
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <nav class="navbar">
      <a href="/">
        <!-- flaticon -->
        <img class="invert" src="/static/images/favicon.png" />
        <img class="normal" src="/static/images/faviconInvert.png" />
      </a>
      {% if g.user %}
      <a>
        <select name="redirect" id="redirect">
          <option value="AAPL">AAPL</option>
          <option value="MSFT">MSFT</option>
          <option value="NKE">NKE</option>
          <option value="TEAM">TEAM</option>
          <option value="UBER">UBER</option>
        </select>
        <button id="nav-redirect">
          <img id="search" class="normal" src="/static/images/search.png" />
          <!-- <img class="normal" src="/static/images/searchInvert.png" /> -->
        </button>
      </a>
      <a href="/cash">Cash</a>
      <a href="/logout">Log Out</a>
      {% elif not g.user %}
      <a href="/login">Log In</a>
      <a href="/register">Sign Up</a>
      {% endif %}
      <!-- <a></a> -->
    </nav>

    <main id="content">{% block content %} {% endblock %}</main>
    <script src="../static/scripts/site.js"></script>
  </body>
</html>
